.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding: 2px 0;
}

.header__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 20px;
  background-color: red;
  padding: 2px 20px;
  border-radius: 30px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__list {
  border: 1px solid red;
  display: flex;
  list-style: none;
}
.header__list-item {
  margin: 0 10px;
}
.header__list-item > a {
  text-decoration: none;
  color: black;
}
